html {
  scroll-snap-type: y mandatory;
}

h1{
  color: red;

}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: rgb(53, 53, 53);
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 90vh;
  width: 100%;
  max-width: 450px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

/* for IE Safari*/
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
  .app__videos {
    max-width: 100%; /* Adjusted max-width for smaller screens */
  }
}

/* Add more media queries as needed for other screen sizes */
